@tailwind base;
@tailwind components;

@tailwind utilities;

@layer{
   .main{
    @apply  font-sans;
    height: 550px;
}
}
















/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Global styles */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.fbimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16rem;
}

.log {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    align-items: center;
    margin-bottom: 6rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.375rem;
}

/* Typography */
.log p {
    margin-top: 1rem;
    font-size: 1.25rem;
}

/* Input styles */
input[type="email"],
input[type="password"] {
    margin-top: 1.5rem;
    height: 3rem;
    width: 24rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    font-size: 1.25rem;
}

/* Button styles */
button {
    border: 1px solid #ccc;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    height: 3rem;
    width: 24rem;
    background-color: #007bff;
    font-weight: bold;
    color: white;
    border-radius: 0.375rem;
    font-size: 1.25rem;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

button:hover {
    background-color: white;
    color: #007bff;
    border-color: black;
}

button:active {
    background-color: #007bff;
    color: white;
}

/* Link styles */
span {
    margin-top: 0.125rem;
    margin-bottom: 0.625rem;
    padding: 0.5rem;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

span:hover {
    text-decoration: underline;
}
S